<nav class='navbar {{ type.position }} {{ type.size }} {{ type.color }}'>
    <!-- Icon -->
    <a *ngIf='type.img' class='navbar-brand' routerLink='' (click)='setActive(null)'>
        <img [src]='type.img'></a>
    <!-- Navbar Items -->
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav mr-auto'>

            <!-- for each item in the NavbarItemList -->
            <li *ngFor='let item of type.list' class='nav-item lead'>
                <!-- if internal link, use routerLink. href otherwise-->
                <div *ngIf='item.isInternal; else useHREF' (click)='setActive(item.url)' [class.active]='isActive(item.url)'>
                    <a class='nav-link' [routerLink]='item.url'>{{ item.title }}</a>
                </div>
                <ng-template #useHREF>
                    <a class='nav-link' [href]='item.url' routerLinkActive='active-link'>{{ item.title }}</a>
                </ng-template>
            </li>
            <!-- for each route defined in router 
            <li *ngFor='let route of routes' class='nav-item'>
                <div *ngIf='!routeIsHome(route.path)'>
                    <div (click)='setActive(route.path)' [class.active]='isActive(route.path)'>
                        <a class='nav-link' [routerLink]='route.path'>{{ route.path | titlecase }}</a>
                    </div>
                </div>
            </li>
            -->

        </ul>

        <div class='justify-right'>
            <a href='https://github.com/gnegri/'><i class='fa fa-github icon'></i></a> &nbsp;
            <a href='https://www.linkedin.com/in/grantnegri'><i class='fa fa-linkedin-square icon'></i></a>
        </div>
    </div>
</nav>