<nav class='navbar {{ type.position }} {{ type.size }} {{ type.color }}'>
    <!-- Icon -->
    <a *ngIf='type.img' class='navbar-brand' routerLink='' (click)='setActive(null)'>
        <img [src]='type.img'>
    </a>

    <!-- Navbar Items -->
    <div [class.d-none]='isHidden' [class.navbar-collapse]='!globalsService.isMobile()' [class.text-center]='globalsService.isMobile()' id='navbarToggleExternalContent'>
        <ul class='navbar-nav mr-auto'>

            <!-- for each item in the NavbarItemList -->
            <li *ngFor='let item of type.list' class='nav-item lead'>
                <!-- if internal link, use routerLink. href otherwise-->
                <div *ngIf='item.isInternal; else useHREF' (click)='setActive(item.url)' [class.active]='isActive(item.url)'>
                    <a class='nav-link' [routerLink]='item.url'>{{ item.title }}</a>
                </div>
                <ng-template #useHREF>
                    <a class='nav-link' [href]='item.url' routerLinkActive='active-link'>{{ item.title }}</a>
                </ng-template>
            </li>

        </ul>

        <div class='' [class.pr-5]='!globalsService.isMobile()'>
            <a href='https://github.com/gnegri/'><i class='fa fa-github icon'></i></a> &nbsp;
            <a href='https://www.linkedin.com/in/grantnegri'><i class='fa fa-linkedin-square icon'></i></a> &nbsp;
            <a href='mailto:grantnegri@gmail.com'><i class='fa fa-envelope icon' [class.pr-5]='!globalsService.isMobile()'></i></a>
        </div>
    </div>

    <div *ngIf='globalsService.isMobile()'>
        <button class='navbar-toggler' (click)='toggleHidden()' type='button' data-toggle='collapse' data-target='#navbarToggleExternalContent' aria-controls='navbarToggleExternalContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
    </div>

</nav>