<ngb-accordion #acc='ngbAccordion'>
    <div *ngFor='let exercise of exercises' class=''>
        <ngb-panel>
            <ng-template ngbPanelTitle class='' click='retriggerHighlight()'>
                {{ makeTitle(exercise) }}
            </ng-template>
            <ng-template ngbPanelContent>
                <div class='row'>
                    <div [class]='progressBarColWidth()'>
                        <ngb-progressbar class='pbar' [value]='exercise.percentile' [ngbPopover]='runtimeTooltip(exercise.percentile)' triggers='mouseenter:mouseleave' striped='true' animated='true' [type]='colorType(exercise.percentile)' height='2.4rem'>Runtime: {{ exercise.runtime }} ms</ngb-progressbar>
                    </div>
                    <br> <br>
                    <div [class]='problemInfoColWidth()'>
                        <a class='btn btn-outline-secondary' [href]='exercise.problemURL'>Problem</a> &nbsp;
                        <a class='btn btn-outline-secondary' [href]='exercise.solutionURL'>Solution</a>
                    </div>
                </div>
                <div class='row scrollbox col-12 ml-0'>
                    <div class='w-100'>
                        <app-code-from-file [datasrc]='datasrc(exercise.exercise)'></app-code-from-file>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </div>
</ngb-accordion>

<br><br>