<div class='row'>
    <div class='col-9'>
        <h4>
            <a *ngIf='!noLink; else plainText' [routerLink]='makeURL(post.title)'>{{ post.title }}</a>
            <ng-template #plainText>
                {{ post.title }}
            </ng-template>
        </h4>
    </div>

    <div class='col-3'>
        {{ post.date }}
    </div>
</div>

<div class='row'>
    <div class='col-11'>
        <div [innerHTML]='post.body'>
            <!-- Body of the blogpost -->
        </div>
    </div>
</div>

<br>