.sectionHeader {
    color: #3F7FBF;
}

.source {
    font-style: italic;
}

.contact {
    font-size: 3rem;
}

@mixin box {
    text-shadow: 0px 0px 1px #3F7FBF, 0px 0px 1px #3F7FBF, 0px 0px 1px #3F7FBF;
    display: inline-block;
}

.checkYes {
    @include box;
    color: #3F7FBF;
}

.preCheckYes {
    font-size: .5em;
}

.checkNo {
    @include box;
    color: white;
}

.preCheckNo {
    font-size: .6em;
}